@import 'responsive'

.course
	padding-top: 52px	
	margin-bottom: 75px
	&__wrap
		margin-top: 45px	

	&__box
		display: flex
		background-image: linear-gradient(90deg, rgba(192, 14, 121, 0.76) 0%, rgba(219, 16, 237, 0.5404) 100%)
		border-radius: 50px
		padding: 80px

	&__content
		width: calc(100% - 350px)
		padding-right: 40px

	&__title
		font-size: 36px
		line-height: 1.2
		color: #fff
		padding-bottom: 42px
		font-weight: 800

	&__text
		padding-bottom: 50px	
		p
			font-size: 20px
			line-height: 1.6
			color: #fff

	&__image
		width: 350px