@import 'responsive'

body
	margin: 0
	padding: 0
	width: 100%
	min-height: 100vh
	overflow-x: hidden
	color: #000000
	background: #fafafa
	text-size-adjust: none
	-webkit-text-size-adjust: none
	-ms-text-size-adjust: none
	font-size: 16px
	line-height: 1.2
	font-weight: normal
	font-style: normal
	font-family: "OpenSans"

*
	box-sizing: border-box

img
	max-width: 100%
	height: auto

.container
	max-width: 440px
	width: 100%
	margin: 0 auto
	padding: 0 20px
	&--inner
		max-width: 1240px

	&--block
		max-width: 1600px

	&--elem
		max-width: 1400px

	&--services,
	&--reviews
		padding: 0 100px
		+media(lg)
			padding: 0 62px
		+media(sm)
			padding: 0px 20px	

	&--services
		max-width: 1700px

	&--reviews
		max-width: 1400px

.page-user
	display: flex	
	align-items: center
	justify-content: center
	padding: 25px 0px 

.label
	cursor: pointer
	display: inline-block
	font-size: 20px	
	line-height: 1.2	
	color: #000000
	margin-bottom: 12px

.input
	display: block	
	width: 100%
	background-color: #fbfbfb
	border: 1px solid #d3d3d3
	border-radius: 4px
	outline: none
	padding: 13px 15px
	+media(sm)
		padding: 8px 15px

	&.form-fail
		border-color: #ff0000

.btn
	display: block	
	width: 100%
	font-size: 20px
	line-height: 1.2
	color: #333333
	background-color: #ffda00
	box-shadow: 0px 20px 50px rgba(0, 0, 0, 0.15)
	border: none
	border-radius: 4px
	outline: none
	padding: 23px 10px 
	margin-bottom: 36px
	text-align: center
	font-weight: 700
	font-family: "OpenSans"
	transition: 0.25s background-color, 0.25s color
	+media(sm)
		padding: 14px 15px
	&:disabled
		text-decoration: line-through

	&:hover:not(:disabled)
		cursor: pointer
		background-color: #0ba7eb
		color: #fff

	&--inner
		max-width: 380px
		width: 100%
		margin: 0px auto

	&--info
		max-width: 305px

	&--help
		max-width: 320px
		margin-left: auto

	&--pay
		max-width: 250px
		margin: 0 auto
		margin-bottom: 40px

	&--add
		width: 300px
		background-color: #0ba7eb
		color: #fff
		border-radius: 10px
		margin-bottom: 0px
		+media(mdx)
			width: 100%
			max-width: 300px
		&:hover:not(:disabled)
			background-color: #43be66

	&--blog
		max-width: 380px
		width: 100%
		background-color: #0ba7eb
		color: #fff
		margin: 0 auto
		margin-bottom: 25px
		&:hover:not(:disabled)
			background-color: #43be66

	&--main
		max-width: 300px
		margin: 0 auto
		margin-bottom: 128px
		+media(lgs)
			margin-bottom: 70px
		+media(mdx)
			margin-bottom: 40px

	&--course
		max-width: 250px
		margin-bottom: 0px

.error
	color: #ff0000
	padding-top: 12px

.title
	font-size: 64px
	line-height: 1.35
	color: #fff
	text-transform: uppercase
	font-weight: 800
	+media(mdx)
		font-size: 45px
	+media(sm)
		font-size: 25px
	&--inner
		color: #333333

.swiper-pagination
	position: static
	display: flex
	justify-content: center

.swiper-pagination-bullet
	display: block
	width: 16px
	height: 16px
	opacity: 1
	border-radius: 10px
	&.swiper-pagination-bullet-active

.swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet, 
.swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet
	margin: 0 7px

.swiper-horizontal>.swiper-pagination-bullets, 
.swiper-pagination-bullets.swiper-pagination-horizontal,
.swiper-pagination-custom,
.swiper-pagination-fraction
	bottom: 0px

.swiper-button-prev, 
.swiper-button-next
	+media(sm)
		display: none	
	svg
		display: block	
		width: 40px	
		height: 40px	
	&:after
		display: none

.swiper-button-prev
	left: -70px
	+media(lg)
		left: -45px

.swiper-button-next
	transform: scale(-1)
	right: -70px
	+media(lg)
		right: -45px

.services__holder
	.swiper-button-prev, 
	.swiper-button-next
		svg
			fill: #fff

	.swiper-pagination-bullet
		background-color: transparent
		border: 2px solid #fff
		&.swiper-pagination-bullet-active
			background-color: #fff

.reviews__holder,
.course__holder
	.swiper-button-prev, 
	.swiper-button-next
		svg
			fill: #1996cd

	.swiper-pagination-bullet
		background-color: transparent
		border: 2px solid #1996cd
		&.swiper-pagination-bullet-active
			background-color: #1996cd

.course__holder
	.swiper-button-prev, 
	.swiper-button-next
		svg
			fill: #43be66

	.swiper-pagination-bullet
		background-color: transparent
		border: 2px solid #43be66
		&.swiper-pagination-bullet-active
			background-color: #43be66


.breadcrumbs
	&__list
		display: flex	
		flex-wrap: wrap
		align-items: center
		padding-bottom: 25px
		li
			display: block
			cursor: default
			margin-bottom: 17px
			&:not(:last-child)
				margin-right: 20px
				transition: 0.3s color
				position: relative
				&:after
					position: relative
					right: -10px
					content: '|'
					color: #adadad


		li, a
			font-size: 14px
			line-height: 1.2
			color: #adadad
			text-transform: uppercase
			transition: 0.25s color

		a
			&:hover
				color: #333
