@font-face {
    font-family: "OpenSans";
    src: url("OpenSansRegular.eot");
    src: url("OpenSansRegular.eot?#iefix") format("embedded-opentype"),
    url("OpenSansRegular.woff2") format("woff2"),
    url("OpenSansRegular.woff") format("woff"),
    url("OpenSansRegular.ttf") format("truetype"),
    url('OpenSansRegular.svg') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "OpenSans";
    src: url("OpenSansBold.eot");
    src: url("OpenSansBold.eot?#iefix") format("embedded-opentype"),
    url("OpenSansBold.woff2") format("woff2"),
    url("OpenSansBold.woff") format("woff"),
    url("OpenSansBold.ttf") format("truetype"),
    url('OpenSansBold.svg') format('svg');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "OpenSans";
    src: url("OpenSansExtraBold.eot");
    src: url("OpenSansExtraBold.eot?#iefix") format("embedded-opentype"),
    url("OpenSansExtraBold.woff2") format("woff2"),
    url("OpenSansExtraBold.woff") format("woff"),
    url("OpenSansExtraBold.ttf") format("truetype"),
    url('OpenSansExtraBold.svg') format('svg');
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}
